#mapid {
    height: 90%;
    width: auto;
    border: 1px solid #ccc;
}

#title {
    text-align: center;
}

a {
    color: blue;
}

#docs {
    text-align: center;
}

.center {
    display: inline-block;
    text-align: left;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
}

body {
    padding-top: 0px;
    padding-bottom: 40px;
}

table {
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
}

table, th, td{
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #ddd;
}

td {
    width: fit-content;
}

tr {
    background-color: gray;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}
